* {
    padding: 0px;
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

.error {
    color: red;
    font-size: 15px;
    margin-top: 5px;
    display: inline-block;
}

li {
    list-style-type: none;
    display: block;
    
}

.footer {
    margin-top: 50px;
    background-color: #0a4275;
    color: #FFF;
}

.footer_down {
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-primary {
    background-color: #0a4275 !important;
    color: #FFF;
}

.nav-link{
    text-transform: uppercase;
}
.links{
    text-decoration: none;
    
}